  
.login-container {
  background: rgb(202, 136, 50);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #dabd77;
  padding: 40px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 100px auto;

  h2 {
    margin-bottom: 20px;
  }
}

.input-group {
  margin-bottom: 15px;

  input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #e0b828;
    outline: none;

    &:focus {
      border-color: #413f3c;
    }
  }
}

button {
  width: 100%;
  padding: 10px;
  background: #ca9a40;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: #e1933b;
  }
}

.message {
  margin-top: 15px;
  color: red;
}